.cl {
background-color: darkmagenta;
}
.fr1{
    background-color: rgb(114, 56, 167);
}
.fr2{
    background-color: cornflowerblue;
    color: aqua;
}
.main{
    background-color: red;
    
}
.foot{
    background-color: white;
    padding: auto;
    
}